.user-profile-main {
  width: 100vw;
  height: 100vh;
}

.user-profile {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 200px 0 200px;
  background-color: #f1f2f7;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.user-profile__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.open-modal {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.user-profile__container .page-name {
  margin-top: 450px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.user-profile__container .breadcrumb {
  margin-bottom: 20px;
}

.user-profile__container .card-body {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.user-profile__container .card-body .cover-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: url('../../assets/images/cover-img.jpg') no-repeat center center;
  position: relative;
}

.user-profile__container .card__infor {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.user-profile__container .card__infor .avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

.user-profile__container .card__infor .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile__container .card__infor .avatar .edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-profile__container .card__infor .card-body__right {
  grid-gap: 20px;
  margin-left: 20px;
}

.user-profile__container .card__infor .card-body__right__name {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.user-profile__container .card-body .message-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f1388b;
  color: white;
  border-radius: 6px;
  border: none;
}

.user-profile__container .card-body .message-btn:hover {
  background-color: white;
  color: #f1388b;
}

.user-profile__container .card-body__container {
  padding: 20px;
  border: 1px solid #e8e8f7;
  border-radius: 10px;
}

.user-profile__container .info__title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.user-profile__container .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-profile__container .field__title {
  width: 200px;
}

.user-profile__container .input {
  flex: 2;
  border-radius: 6px;
}

.user-profile__container .save-btn__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-profile__container .save-btn {
  background-color: var(--success-color);
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100px;
}

.user-profile__container .edit-profile-btn {
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100px;
}

.user-profile__container .ant-select {
  padding: 0;
}

.user-profile__container .select {
  display: flex;
  width: 100%;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.ant-modal-body .change-password-form {

}

.ant-modal-body .change-password-form .field .title {
  font-weight: bold;
}
