.notifications {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: 400px;
  max-height: 600px;
  background-color: lightblue;
  transform-origin: top right;
  overflow-y: scroll;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.notifications.active {
  transform: scale(1);
}

.notification-item {
  display: flex;
  align-items: center;
}

.notification-item__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-item__left .avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
