.App {
  display: flex;
}

.App .sub {
  margin-top: 65px;
  width: 100%;
  height: calc(100vh - 65px);
  background-color: #f1f2f7;
  overflow-y: scroll;
  margin-left: 90px;
}

@media (max-width: 700px) {
  .App .sub {
    margin-left: 0;
  }
}
