@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main-color: #334155;
  --page-name: 22px;
  --shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  --border-radius: 10px;
  --success-color: #10b981;
  --responsive: 700px;
}

.link {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}
